<div class="container">
        <div class="footer__container">
                <!-- Top: 4 columns -->
                <div class="footer__top">
                        <!-- Column 1: Logo + menu + social -->
                        <div class="footer__col footer__col--main">
                                <a href="#" class="header-logo footer__logo">
                                        <span class="header-logo__circle">ST</span>
                                        <span class="header-logo__text">
                                                Safe Tour<span class="header-logo__dot"></span>
                                        </span>
                                </a>

                                <div class="footer__social">
                                        <a href="#" class="footer__social-link">
                                                <span class="footer__social-icon">
                                                        <i class="fab fa-facebook-f"></i>
                                                </span>
                                        </a>
                                        <a href="#" class="footer__social-link">
                                                <span class="footer__social-icon">
                                                        <i class="fab fa-instagram"></i>
                                                </span>
                                        </a>
                                        <a href="#" class="footer__social-link">
                                                <span class="footer__social-icon">
                                                        <i class="fab fa-twitter"></i>
                                                </span>
                                        </a>
                                </div>
                        </div>

                        <!-- Column 2 -->
                        <div class="footer__col footer__col--travellers">
                                <h4 class="footer__heading">Travellers</h4>
                                <ul class="footer__list">
                                        <li class="footer__item">
                                                <a href="#" class="footer__link">Why Travellers</a>
                                        </li>
                                        <li class="footer__item"><a href="#" class="footer__link">Enterprice</a></li>
                                        <li class="footer__item">
                                                <a href="#" class="footer__link">Customer Stories</a>
                                        </li>
                                        <li class="footer__item">
                                                <a href="#" class="footer__link">Instagram post</a>
                                        </li>
                                </ul>
                        </div>

                        <!-- Column 3 -->
                        <div class="footer__col footer__col--company">
                                <h4 class="footer__heading">Company</h4>
                                <ul class="footer__list">
                                        <li class="footer__item"><a href="#" class="footer__link">Travelling</a></li>
                                        <li class="footer__item"><a href="#" class="footer__link">About Locato</a></li>
                                        <li class="footer__item"><a href="#" class="footer__link">Success</a></li>
                                        <li class="footer__item"><a href="#" class="footer__link">Information</a></li>
                                </ul>
                        </div>

                        <!-- Column 4 -->
                        <div class="footer__col footer__col--contact">
                                <h4 class="footer__heading">Get in Touch</h4>
                                <p class="footer__desc">Feel free to get in touch with us via email</p>
                                <a href="mailto:email@gmail.com" class="footer__email">email@gmail.com</a>
                        </div>
                </div>
                <hr class="footer__divider" />
        </div>
</div>
