<div class="container">
    <div class="footer-top">
        <div class="footer-col">
            <h4>Resources</h4>
            <ul>
                <li><a href="#">Download</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Guide Book</a></li>
                <li><a href="#">App Directory</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Travellers</h4>
            <ul>
                <li><a href="#">Why Travellers</a></li>
                <li><a href="#">Enterprice</a></li>
                <li><a href="#">Customer Stories</a></li>
                <li><a href="#">Instagram post</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Company</h4>
            <ul>
                <li><a href="#">Travelling</a></li>
                <li><a href="#">About Locato</a></li>
                <li><a href="#">Success</a></li>
                <li><a href="#">Information</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Get in Touch</h4>
            <p>Feel free to get in touch with us vai email</p>
            <a href="mailto:email@gmail.com" class="footer-email">email@gmail.com</a>
            <div class="footer-social">
                <a href="#"
                    ><span class="social-icon"><img src="/assets/images/social/facebook.svg" alt="Facebook" /></span
                ></a>
                <a href="#"
                    ><span class="social-icon"><img src="/assets/images/social/ins.svg" alt="Instagram" /></span
                ></a>
                <a href="#"
                    ><span class="social-icon"><img src="/assets/images/social/tele.svg" alt="Twitter" /></span
                ></a>
            </div>
        </div>
    </div>
    <p class="footer__copyright">© 2010 - 2025 Safe Tour. All rights reserved.</p>
    <hr class="footer-divider" />
</div>
